{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <h1>About Alex Store</h1>
        <p> <img style="width: 70px; height: 70px;" src="{% static 'img/alex_image.jpg' %}" alt="image of alex" width="350px" height="350px"> Hi. My name is Alex Ainoko Idachaba, a Python Web Developer. This is an ongoing Ecommerce application I'm building as a portfolio project for demo purpose only, and should not be used as a real ecommerce website. Feel free to give it a try.</p>
    </div>
    <br>
    <br>
{% endblock content %}